<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "https://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>

	<!--资源文件-->
	<import resource="resources/messageSource.xml"/>

	<import resource="/resources/../resources/themeSource.xml"/>

	<!--生命周期后置处理器-->
	<bean id="lifecyclePostProcessor" class="org.springframework.beans.testfixture.beans.LifecycleBean$PostProcessor"/>

	<!--
	<bean
		name="performanceMonitor" class="org.springframework.context.support.TestListener"
	/>
	-->

	<!--
	<bean name="aca" class="org.springframework.context.ACATest">
	</bean>

	<bean name="aca-prototype" class="org.springframework.context.ACATest" scope="prototype">
	</bean>
	-->

	<!--容器监听器-->
	<bean id="beanThatListens" class="org.springframework.context.testfixture.beans.BeanThatListens"/>

	<!--测试容器监听器类-->
	<bean id="parentListener" class="org.springframework.context.testfixture.beans.TestApplicationListener"/>

	<!-- Inherited tests -->

	<!--普通的 POJO 类的创建与属性设置-->
	<!-- name and age values will be overridden by myinit.properties" -->
	<bean id="rod" class="org.springframework.beans.testfixture.beans.TestBean">
		<property name="name">
			<value>dummy</value>
		</property>
		<property name="age">
			<value>-1</value>
		</property>
	</bean>

	<!--
			Tests of lifecycle callbacks
			测试 bean 工厂初始化
		-->
	<bean id="mustBeInitialized"
		class="org.springframework.beans.testfixture.beans.MustBeInitialized">
	</bean>

	<!--测试 spring 容器生命周期-->
	<bean id="lifecycle"
		  class="org.springframework.context.LifecycleContextBean"
		  init-method="declaredInitMethod">
		<property name="initMethodDeclared"><value>true</value></property>
	</bean>

	&contextInclude;

	<!--属性重写配置-->
	<bean id="myOverride" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="location">
			<value>/org/springframework/web/context/WEB-INF/myoverride.properties</value>
		</property>
	</bean>

	<!--属性占位符配置器-->
	<bean id="myPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/org/springframework/web/context/WEB-INF/myplace*.properties</value>
				<value>classpath:/org/springframework/web/context/WEB-INF/myover*.properties</value>
				<value>${myDir}/myover*.properties</value>
			</list>
		</property>
	</bean>

	<!--懒加载的 bean-->
	<bean id="init-and-ib"
		class="org.springframework.web.context.XmlWebApplicationContextTests$InitAndIB"
		lazy-init="true"
		init-method="customInit"
		destroy-method="customDestroy"
	/>

</beans>
